<?xml version="1.0" ?>
<configuration>
  <section name="global_options">
    <value name="pid_file">/var/run/php-fpm.pid</value>
    <value name="error_log">/var/log/php-fpm.log</value>
    <value name="log_level">notice</value>
    <value name="emergency_restart_threshold">10</value>
    <value name="emergency_restart_interval">1m</value>
    <value name="process_control_timeout">5s</value>
    <value name="daemonize">yes</value>
  </section>

  <workers>
    <% node[:php][:fpm][:pools].sort.each do |name, params| %>
    <section name="pool">
      <value name="name"><%= name %></value>
      <value name="listen_address"><%= params[:listen_address] %></value>
      <value name="listen_options">
        <value name="backlog"><%= params[:backlog] %></value>
        <value name="owner"><%= params[:socket_user] %></value>
        <value name="group"><%= params[:socket_group] %></value>
        <value name="mode"><%= params[:socket_mode] %></value>
      </value>
      <value name="user"><%= params[:user] %></value>
      <value name="group"><%= params[:group] %></value>
      <value name="pm">
        <value name="style">static</value>
        <value name="max_children"><%= params[:max_children] %></value>
      </value>
      <value name="request_terminate_timeout"><%= params[:request_terminate_timeout] %></value>
      <value name="request_slowlog_timeout"><%= params[:request_slowlog_timeout] %></value>
      <value name="slowlog"><%= params[:slowlog] %></value>
      <value name="rlimit_files"><%= params[:rlimit_files] %></value>
      <value name="rlimit_core">0</value>
      <value name="chroot"></value>
      <value name="chdir"></value>
      <value name="catch_workers_output">yes</value>
      <value name="max_requests"><%= params[:max_requests] %></value>
      <value name="allowed_clients">127.0.0.1</value>
      <value name="environment">
        <value name="HOSTNAME">$HOSTNAME</value>
        <value name="PATH">/usr/local/bin:/usr/bin:/bin</value>
        <value name="TMP">/tmp</value>
        <value name="TMPDIR">/tmp</value>
        <value name="TEMP">/tmp</value>
        <value name="OSTYPE">$OSTYPE</value>
        <value name="MACHTYPE">$MACHTYPE</value>
        <value name="MALLOC_CHECK_">2</value>
      </value>
    </section>
    <% end %>
  </workers>
</configuration>
